<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Full Stock</title>
  </head>
  <body>
    <%- include('partials/header') %>

    <main>
      <h2>Bienvenido</h2>
      <p>Las mejores ofertas de la temporada.</p>
    </main>

    <%- include('partials/footer') %>
  </body>
</html>
